[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Rviz-Autostart
Comment=Rviz-Autostart
Exec=xfce4-terminal --title=rviz -H -e '/bin/bash -i -c "/home/neobotix/START_RVIZ.sh"'
StartupNotify=false
Terminal=false
Hidden=false
